:root {
  --primary: #FD3F92;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #333;
}

#root {
  height: 100vh;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.75;
}

/* header */
header {
  flex: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0.25em 0.5em;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navlogo {
  color: var(--primary);
  font-family: 'Baloo Chettan\ 2', sans-serif;
  font-size: 2em;
}

.navlogo img {
  height: 0.75em;
  width: 0.75em;
}

.accountbutton {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  margin: 0.25em 0;
  padding: 0.35em 0.5em;
  cursor: pointer;
  border: 0;
  border-radius: 0.25em;
  color: #333;
  background-color: #eee;
}

.accountbutton:hover {
  opacity: 0.75;
}

.accountbutton.primary {
  background-color: #FDDC3F;
  color: #fff;
}

.accountbutton.secondary {
  color: #3FE4FD;
}

@media (max-width: 359px) {                  
  .accountbutton {
    font-size: 1em;
    padding: 0.45em 0.5em;
  }
}

nav {
  font-family: 'Nunito', sans-serif;
  padding: 0.65em;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #333;
}

nav > div {
  max-width: 1200px;
  margin: 0 auto;
}

nav a {
  margin: 0 0.5em;
}

nav a.active {
  border-bottom: 2px solid #FD3F92;
}

.header-logo-nav-account .right {
  text-align: right;
}

.header-logo-nav-account .center {
  text-align: center;
}

@media (max-width: 600px) {                  
  header img {
     display: none;
  }
}

@media (max-width: 525px) {
  .header-logo-nav-account {
    flex-wrap: wrap;
  }
  .header-logo-nav-account .center {
    width: 100%;
    order: 3;
  }
  
  .header-logo-nav-account .left{
    width: 50%;
  }
  .header-logo-nav-account .right{
    width:50%;
    order:2;
  }
}

/* main application */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  padding: 2em 1em;
}

.main div {
  max-width: 1200px;
  margin: 0 auto;
}

.tilt {
  background-color: var(--primary);
  width: 448px;
  height: 280px;
  border-radius: 1em;
  margin: 1em auto;
  padding: 1em 2em;
  box-sizing: border-box;
  color: #fff;
  border: 1px solid #eee;
}

@media (max-width: 600px) {                  
  .tilt {
    height: 448px;
    width: 280px;
  }
}

.logo-white {
  color: #fff;
  font-family: 'Baloo Chettan\ 2', sans-serif;
  font-size: 2em;
}

/* footer */
footer {
  flex: 0;
  border-top: 1px solid #eee;
  background-color: #fff;
  padding: 2em 1em;
  font-family: 'Nunito', sans-serif;
}

footer > div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer a {
  margin: 0.5em 1em;
}

.copyrights {
  color: #666;
  text-align: center;
  font-family: 'Baloo Chettan\ 2', sans-serif;
}

.copyrights img {
  height: 0.75em;
  width: 0.75em;
  filter: grayscale(1);
}